body {
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F2F7F9;
    position: sticky;
    top: 0;
    z-index: 100; /* Ensure it's above other elements */
}

nav a {
    font-family: 'Poppins', sans-serif;
    color: #827E7E;
    font-weight: 500;
}

.logo {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 100px;
}

img {
    height: 60px;
}

.nav-links {
    display: flex;
    gap: 50px;
    margin-right: 100px;
}

a:hover {
    color: #1E1E1E;
}

/* Intro Section */
.intro {
    background: #D9E3E8;
    height: 550px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#intro-first-part {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: -15px;
    margin-top: 0;
}

#intro-second-part {
    font-size: 94px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    letter-spacing: 2px;
}

#intro-third-part, 
#intro-fourth-part {
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 0;
}

#intro-resume-btn {
    font-family: 'Poppins', sans-serif;
    width: 280px;
    height: 75px;
    background: #5D7A86;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 22px;
    margin-top: 40px;
}

#intro-resume-btn:hover {
    background: #579FBD;
    cursor: pointer;
}

/* Intro-Context */
.intro-context {
    width: 75%;
    height: 1650px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.intro-context-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;
}

#intro-second-container {
    margin-top: 35px;
}

.intro-about,
.intro-technologies {
    font-family: 'Poppins', sans-serif;
    color: #5D7A86;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: -10px;
    margin-top: 0;
}

.intro-about-context,
.intro-technologies-context {
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 0;
    line-height: 1.7;
}

.intro-technologies-container {
    background: #E9EFF1;
    border-top-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0;
    margin-top: 26px;  
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); /* Add drop shadow */
}

.intro-technologies-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-technologies-card-head {
    font-size: 20px;
    font-weight: 500;
    margin-left: 30px;
    margin-bottom: 2px;
}

.intro-technologies-card-body {
    font-size: 20px;
    margin-left: 30px;
    margin-top: 2px;
    font-weight: 300;
}

/* projects-container */
.projects-container {
    background: #F2F7F9;
    height: 1000px;
}

p {
    font-family: 'Poppins', sans-serif;
    color: #343434;
}

.letter-a {
    color: #5D7A86;
}

/* Responsive Design - for Mobile Devices */
