body {
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F2F7F9;
}

nav a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #827E7E;
    font-weight: 600;
}

.logo {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 100px;
}

img {
    height: 60px;
}

.nav-links {
    display: flex;
    gap: 50px;
    margin-right: 100px;
}

a:hover {
    color: #1E1E1E;
}