body {
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F2F7F9;
    transition: background-color 0.3s ease;
    position: sticky;
    top: 0;
    z-index: 100; /* Ensure it's above other elements */
}

nav a {
    font-family: 'Poppins', sans-serif;
    color: #827E7E;
    font-weight: 500;
}

.logo {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 100px;
}

.nav-links {
    display: flex;
    gap: 50px;
    margin-right: 100px;
}

a:hover {
    color: #1E1E1E;
}

/* Intro Section */
.intro {
    background: #D9E3E8;
    height: 550px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#intro-first-part {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: -15px;
    margin-top: 0;
}

#intro-second-part {
    font-size: 94px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    letter-spacing: 2px;
}

#intro-third-part, 
#intro-fourth-part {
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 0;
}

#intro-resume-btn {
    font-family: 'Poppins', sans-serif;
    width: 280px;
    height: 75px;
    background: #5D7A86;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 22px;
    margin-top: 40px;
}

#intro-resume-btn:hover {
    background-color: #579FBD;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

/* Intro-Context */
.intro-context {
    width: 75%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}
.intro-context-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;
}

#intro-second-container {
    margin-top: 35px;
}

.intro-about,
.intro-technologies,
.projects-header {
    font-family: 'Poppins', sans-serif;
    color: #5D7A86;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: -10px;
    margin-top: 0;
}

.intro-about-context,
.intro-technologies-context {
    font-size: 20px;
    font-weight: 300;
    margin-top: 26px;
    margin-bottom: 0;
    line-height: 1.7;
}

.intro-technologies-container {
    background: #E9EFF1;
    border-top-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0;
    margin-top: 26px;  
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); /* Add drop shadow */
    width: fit-content;
}

.intro-technologies-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-technologies-card-head {
    font-size: 20px;
    font-weight: 500;
    /* margin-left: 30px; */
    margin-bottom: 2px;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.intro-technologies-card-body {
    font-size: 20px;
    /* margin-left: 30px; */
    /* margin-top: 2px; */
    font-weight: 300;
    padding-bottom: 15px;
    margin-bottom: 0;
    padding-left: 30px;
    padding-right: 30px;
}

/* projects */
.projects {
    background-color: #F2F7F9;
    display: flex;
    flex-direction: column;
}

.projects-header {
    width: fit-content;
    /* margin-left: auto; */
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
    color: #5D7A86;
}

.project {
    display: flex;
    flex-direction: row;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    align-items: center;
}

#projects-header-container {
    width: 75%;
}

.project:last-child {
    margin-bottom: 50px;
}

.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.separation {
    margin-top: 50px;
}

.project-details {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
}

.project-name {
    font-size: 36px;
    margin-top: 0;
    font-family: 'Poppins', sans-serif;
    color: #244B5C;
    width: fit-content;
    font-weight: 500;
}

.project-info {
    font-size: 20px;
}

.project-technologies {
    display: flex;
    background-color: #E9EFF1;
    width: fit-content;
    border-radius: 10px 0 10px 0;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.project-technologies p {
    font-size: 20px;
    padding: 15px 25px;
    margin-bottom: 0;
}

.technologies-used {
    font-weight: 600;
}

.project-thumbnail {
    display: flex;
    /* border: 2px solid red; */
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.image-right-positioning {
    justify-content: right;
}

.image-left-positioning {
    padding-left: 0;
    justify-content: left;
}

.container {
    --bs-gutter-x: 1rem;
}

/* .contentSpacing {
    margin-left: 100px;
} */

.project-thumbnail img {
    height: 400px;
    /* max-height: 100%; */
}

.last {
    margin-bottom: 100px;
}

/* Footer  */
.footer {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
    gap: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer p {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
}

p {
    font-family: 'Poppins', sans-serif;
    color: #343434;
}

.letter-a {
    color: #5D7A86;
}

/* Responsive Design - for Mobile Devices */
